{% extends "base.html" %}
{% block title %} Home page for expensive tracker {% endblock %}
{% block main %}
<main>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-12">
                <h1 class="text-center">Expense tracker</h1>
                <p class="text-center lead">Always be informed about your cash flow, don't let your expenses through
                    your money.</p>


            </div>

            <div class="col-12 d-flex justify-content-center">
                <a type="button" class="btn btn-outline-dark btn-lg m-1" href="/login/" role="button">Login</a>
                <a type="button" class="btn btn-outline-dark btn-lg m-1" href="/register" role="button">Register</a>
            </div>

        </div>
    </div>
    <div class="second_bg_color">
        <div class="container mt-3">
            <div class="row ">
                <div class="col-12 col-lg-4 p-4">
                    <img class="img-fluid m-3" src="/static/placeholder.png" alt="system image"/>
                </div>
                <div class="col-12 col-lg-8 p-4">
                    <h2>Why you should use Expense Tracker?</h2>
                    <ul class="list-unstyled">
                        <li class="lead"> Spending money wisely</li>
                        <li class="lead">Control your spending</li>
                        <li class="lead">Review your monthly spending</li>
                        <li class="lead"> Sort by category</li>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 p-4 d-flex justify-content-center pt-5 pl-5 pr-5">
                <h3 class="display-5"><i>Control your expenses better than your competition. This is where you
                    can always find the competitive advantage.
                </i></h3></div>
            <div class="col-12 p-4 d-flex justify-content-right">
                <p>Sam Walton</p>

            </div>
        </div>
    </div>


    </div>
</main>

{% endblock %}