<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/main.css" rel="stylesheet">
    <title>Expense tracker Homepage</title>
</head>
<body>
<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/static/logo_wb_big.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Tracker
  </a>
{% if login == True %}
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/expenses/">Expenses list</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
    </ul>
  </div>
    {% else %}
     <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register/">Register</a>
      </li>

    </ul>
  </div>
    {% endif %}
</nav>
</header>
    <main>
        <div class="container">
            <div class="row mt-4">
                <div class="col-12">
                    <h1 class="text-center">Expense tracker</h1>
                    <p class="text-center lead">Always be informed about your cash flow, don't let your expenses through your money.</p>


                </div>

                    <div class="col-12 d-flex justify-content-center">
                        <a type="button" class="btn btn-outline-dark btn-lg m-1" href="/expenses/" role="button">Expenses list</a>
                    </div>

            </div>
<div class="mt-3">
        <div class="row second_bg_color">
            <div class="col-12 col-lg-4 p-4">
                <img class="img-fluid m-3" src="/static/placeholder.png" alt="system image" />
            </div>

            <div class="col-12 col-lg-8 p-4">
                <h2>Why you should use Expense Tracker?</h2>
                            <ul class="list-unstyled">
                                <li class="lead"> Spending money wisely</li>
                                <li class="lead">Control your spending</li>
                                <li class="lead">Review your monthly spending</li>
                                <li class="lead"> Sort by category</li>
                                </li>
                            </ul>
            </div>

        </div>
    <div class="row">
        <div class="col-12 p-4 d-flex justify-content-center pt-5 pl-5 pr-5">
            <h3 class="display-5"><i>Control your expenses better than your competition. This is where you can always find the competitive advantage.
</i></h3></div>
        <div class="col-12 p-4 d-flex justify-content-right">
            <p>Sam Walton</p>

        </div>
    </div>
 </div>
            </div>
    </main>
 <footer class="bg-dark">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-light">Expense tracker</h5>

                        <p class="text-light">
                           Step to your dream.
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase text-light">Links</h5>

                        <ul class="list-unstyled mb-0 nav-item active">
                            <li>
                                <a href="/registration/" class="link-light">Registration</a>
                            </li>
                            <li>
                                <a href="/login/" class="link-light">Login</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0 text-light">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="/expenses/" class="link-light">Expenses list</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3 text-light">
                © 2024 Copyright:
                <p>Agnieszka</p>
            </div>
            <!-- Copyright -->
        </footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>


</html>